spring:
  application:
    name: recommendations
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/recommendations}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 300000
      max-lifetime: 1200000
      connection-timeout: 30000
      pool-name: CryptoHikariPool
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    check-location: true
    clean-disabled: false
    # Принудительно задаем схему, если нужно
    # default-schema: public
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true
  
  threads:
    virtual:
      enabled: true

  cache:
    type: caffeine
    cache-names: crypto-stats, crypto-ranges
    caffeine:
      spec: maximumSize=100,expireAfterWrite=1h

app:
  rate-limit:
    capacity: 10
    tokens-per-minute: 10
  etl:
    cron: "${ETL_CRON:0 0 0 * * *}"
    directory: "${ETL_DIRECTORY:src/main/resources/prices}"
    batch-size: 1000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,caches
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  endpoint:
    health:
      show-details: always
