spring:
  application:
    name: recommendations
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/recommendations}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    check-location: true
    clean-disabled: false
    # Принудительно задаем схему, если нужно
    # default-schema: public
  threads:
    virtual:
      enabled: true

app:
  etl:
    cron: "${ETL_CRON:0 0 0 * * *}"
    directory: "${ETL_DIRECTORY:src/main/resources/prices}"
    batch-size: 1000

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
